@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: white;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(0, 0, 0, 0.05) 25%,
      transparent 26%,
      transparent 74%,
      rgba(0, 0, 0, 0.05) 75%,
      transparent 76%
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(0, 0, 0, 0.05) 25%,
      transparent 26%,
      transparent 74%,
      rgba(0, 0, 0, 0.05) 75%,
      transparent 76%
    );
  background-size: 40px 40px;
  display: flex;
  flex-direction: column;
}

/* TodoTabs 반응형 스타일 개선 */
@media (max-width: 480px) {
  .MuiTab-root {
    text-transform: none !important;
  }
}
